<br>
<h1>Now just <strong>hold onto your horses</strong> there, <strong>buddy</strong></h1>
<br>
<h4>We need to make sure you're who you say you are&hellip;
<br>
<br>Sign in first, Then you can chat <strong>to your heart's content</strong></h4>

<%= form_tag submit_login_path do %>

      <!-- display validation errors -->

  <%= text_field_tag :username_or_email, params[:username_or_email], placeholder: 'Username or Email' %>
  <%= password_field_tag :password, nil, placeholder: 'Password' %>
  <%= submit_tag "Log In" %>
<% end %>


