<% if current_user %>
  <h1 class="text-center">Looking inside <strong><%= current_user.username %>'s box</strong>&hellip;</h1>
<% else %>
  <h1 class="text-center">Hello and welcome to <strong>Chatterbox</strong></h1>
<% end %>
<div class="text-center">
  <%= image_tag("chatterbox_med_inverted.png", :alt => "Chatterbox Mark", :class => "logo logo-main") %>
</div>
