<br>
<% if current_user %>
  <h1 class="text-center">Looking inside <strong><%= current_user.username %>'s box</strong>&hellip;</h1>
<% else %>
  <h1 class="text-center">Hello and welcome to <strong>Chatterbox</strong></h1>
<% end %>
<div class="row text-center">
  <%= image_tag("chatterbox_med_inverted.png", :alt => "Chatterbox Mark", :class => "logo logo-main") %>
</div>

<% unless current_user %>
  <div class="row">
    <br>
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <%= link_to 'Create User', new_user_path, class: 'btn btn btn-primary btn-lg btn-block' %>
    </div>
    <div class="col-sm-3">
      <%= link_to 'Start Chatting', login_path, class: 'btn btn-info  btn-lg btn-block' %>
    </div>
    <div class="col-sm-3"></div>
  </div>
<% end %>
